/* Site Styles*/

/* flex box magic, don't touch! */
.footer-flex{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.footer-item-flex{
    flex: 0 1 auto;
}

/*using !important to set background color on .bg-dark, as seen on http://anthonygraf.com/wats3010-intro-to-bootstrap-4/ */
.bg-dark{
    background-color: purple!important;
}

/*adjusts location of carousel section so the nav-bar doesn't overlap on different screen sizes, unfortunately creates a white space above the carousel item on some smaller screen sized, but it's better than overlapping*/
.carousel-inner{
    padding-top: 70px;
}

/*START section that uses media-queries to format brand element in nav-bar*/
/* sets default size of font for navbar brand text*/
/* style applied to first letter of navbar brand */
.navbar .navbar-brand::first-letter{
    font-size: 2.5em;
}

/*font and default size applied to rest of .navbar-brand letters*/
.navbar .navbar-brand{
    font-family: 'Ewert', cursive;
    font-size: 2em;
}

/* On screens that are 992px or less, sets size of font for navbar brand text*/
@media screen and (max-width: 992px) {

    /* style applied to first letter of navbar brand */
    .navbar .navbar-brand::first-letter{
        font-size: 2em;
    }
    /*font applied to .navbar-brand*/
    .navbar .navbar-brand{
        /*font-family: 'Ewert', cursive;*/
        font-size: 1.5em;
    }
}

/* On screens that are 600px or less, sets size of font for navbar brand text*/
@media screen and (max-width: 600px) {

    /* style applied to first letter of navbar brand */
    .navbar .navbar-brand::first-letter{
    font-size: 1.6em;
}
    /*font applied to .navbar-brand*/
    .navbar .navbar-brand{
        /*font-family: 'Ewert', cursive;*/
        font-size: 1.2em;
    }
}
/*END section that uses media-queries to format brand element in nav-bar*/

/*setting background colors for small page elements*/
.breadcrumb{
    background-color:rgba(173,216,230, .5);
}

[class^="card"] {
    background-color:rgba(173,216,230, .5);
    padding: 10px;
}

/*the button on index.html and contact.html dispay diffrently when hovered over, probably because contact button is Javascript?*/
[class^="btn"] {
    background-color:gray;
}

h1{
    padding-top: 70px;
}

/*correct coloring added text in footer outside of flex-box*/

.colorize{
    color: white;
}

/*animated background color, base code originally from https://codepen.io/metagrapher/pen/tgcLl*/
    body {
      animation: colorchange 5s; /* animation-name followed by duration in seconds*/
      -webkit-animation: colorchange 5s; /* Chrome and Safari */
    }

    @keyframes colorchange
    {
      0%   {background: black;}
      100%   {background: rgba(178,153,204, .5);}
    }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {background: black;}
      100%   {background: rgba(178,153,204, .5);}
    }