/* Site Styles Go Here */

/* flex box magic, don't touch! */

.footer-flex{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.footer-item-flex{
    flex: 0 1 auto;
    
}

/*using !important to set background color on .bg-dark, as seen on http://anthonygraf.com/wats3010-intro-to-bootstrap-4/ */
.bg-dark{
    background-color: purple!important;
}

/* styles applied to first letter of navbar brand */

.navbar .navbar-brand::first-letter{
    font-weight: 900;
    border-style: dotted;
    padding: 3px;
    margin: 3px;
}

/*setting background colors for small page elements*/

.breadcrumb{
    background-color:rgba(173,216,230, .5);
}

[class^="card"] {
    background-color:rgba(173,216,230, .5);
    padding: 10px;
}

/*the button on index.html and contact.html dispay diffrently when hovered over, probably because contact button is Javascript?*/
[class^="btn"] {
    background-color:gray;
}

h1{
    padding-top: 20px;
}

/*correct coloring added text in footer outside of flex-box*/

.colorize{
    color: white;
}

/*animated background color, base code originally from https://codepen.io/metagrapher/pen/tgcLl*/

    body {
      animation: colorchange 6s; /* animation-name followed by duration in seconds*/
      -webkit-animation: colorchange 6s; /* Chrome and Safari */
    }

    @keyframes colorchange
    {
      0%   {background: black;}
      100%   {background: rgba(178,153,204, .5);}
    }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {background: black;}
      100%   {background: rgba(178,153,204, .5);}
    }