/* Site Styles Go Here */

/* flex box magic */

.footer-flex{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.footer-item-flex{
    flex: 0 1 auto;
    
}

/*animated background color, base code from https://codepen.io/metagrapher/pen/tgcLl*/

    body {
      animation: colorchange 17s; /* animation-name followed by duration in seconds*/
      -webkit-animation: colorchange 17s; /* Chrome and Safari */
    }

    @keyframes colorchange
    {
      0%   {background: blue;}
      75%   {background: rgba(178,153,204, .5);}
    }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {background: blue;}
      75%   {background: rgba(178,153,204, .5);}
    }

/*backup, nice background color
/*body{
    background-color: rgba(178,153,204, .3);
}*/

/* styles applied to first letter of navbar brand */

.navbar .navbar-brand::first-letter{
    font-weight: 900;
    border-style: dotted;
    padding: 3px;
    margin: 3px;
}

/*setting background colors for small page elements*/

.breadcrumb{
    background-color:rgba(173,216,230, .5);
}

[class^="card"] {
    background-color:rgba(173,216,230, .5);
    padding: 10px;
}

[class^="btn"] {
    background-color:gray;
}

/* link styling */

/* I'm not sure about using this
:any-link{
    color: white;
}

:any-link:hover{
    color: purple;
}
*/

/*coloring added text in footer, outside of flex-box*/

.colorize{
    color: white;
}